on post-fs
    # Sensors
    chown system system /sys/devices/platform/soc/4a80000.spi/spi_master/spi0/spi0.0/touchscreen/primary/double_tap_enabled
    chown system system /sys/devices/platform/soc/4a80000.spi/spi_master/spi0/spi0.0/touchscreen/primary/double_tap_pressed
    chown system system /sys/devices/platform/soc/4a80000.spi/spi_master/spi0/spi0.0/touchscreen/primary/udfps_enabled
    chown system system /sys/devices/platform/soc/4a80000.spi/spi_master/spi0/spi0.0/touchscreen/primary/udfps_pressed

on post-fs-data
    # Add for Egis Fod fingerprint
    mkdir /data/vendor/egis 0770 system system
    mkdir /data/vendor/egis/cqa 0770 system system
    mkdir /data/vendor/tzstorage/egis 0770 system system

    # Add for fod fps calibration
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/drm/card0-DSI-1/panelName
    chown system system /sys/class/drm/card0-DSI-1/panelId
    chmod 0666 /sys/class/backlight/panel0-backlight/brightness
    chmod 0666 /sys/class/drm/card0-DSI-1/panelName
    chmod 0666 /sys/class/drm/card0-DSI-1/panelId

on fs
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/mm8013c_fg_mmi.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/goodix_brl_mmi.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/mmi_charger.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/mmi_discrete_charger_class.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/sgm4154x_charger.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/bq2589x_charger.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/bq25980_mmi_iio.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/mmi_discrete_charger.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/qpnp_adaptive_charge.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/tcpc_class.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/tcpc_rt1711h.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/rt_pd_manager.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/mmi_discrete_turbo_charger.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/cps4019_wls_charger.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/aw862x.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/rbs_fod_mmi.ko

on boot
    # Set wlc perms for chg
    chown system system /sys/class/power_supply/wireless/device/tx_mode
    chown system system /sys/class/power_supply/wireless/device/wls_input_current_limit
    chown vendor_tcmd system /sys/class/power_supply/wireless/device/tx_mode_vout
    chmod 0660 /sys/class/power_supply/wireless/device/tx_mode
    chmod 0660 /sys/class/power_supply/wireless/device/wls_input_current_limit

    # Set wlc perms for HAL
    chown system system /sys/class/power_supply/wireless/device/wlc_light_ctl
    chown system system /sys/class/power_supply/wireless/device/wlc_fan_speed
    chown system system /sys/class/power_supply/wireless/device/wlc_st_changed
    chown system system /sys/class/power_supply/wireless/device/wlc_tx_power
    chown system system /sys/class/power_supply/wireless/device/wlc_tx_type
    chmod 0660 /sys/class/power_supply/wireless/device/wlc_light_ctl
    chmod 0660 /sys/class/power_supply/wireless/device/wlc_fan_speed

on charger
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/mm8013c_fg_mmi.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/mmi_charger.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/mmi_discrete_charger_class.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/sgm4154x_charger.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/bq2589x_charger.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/bq25980_mmi_iio.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/mmi_discrete_charger.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/qpnp_adaptive_charge.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/tcpc_class.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/tcpc_rt1711h.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/rt_pd_manager.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/mmi_discrete_turbo_charger.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/cps4019_wls_charger.ko
    insmod /vendor/lib/modules/${ro.vendor.mot.gki.path}/aw862x.ko

on early-init
    exec_background u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules leds_aw2033

service capsense_reset /vendor/bin/capsense_reset
    class core
    user system
    group system input
    disabled

on property:sys.boot_completed=1
    start capsense_reset

on property:ro.boot.mode=charger && property:vold.post_fs_data_done=1
    load_persist_props
